
@{
    ViewBag.Title = "BattingBowlingScoreBoard";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .scoreboard {
        display: flex;
        justify-content: space-around;
    }

    .team {
        width: 45%;
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Bowling Scoreboard</h2>


<div class="scoreboard">
    <div class="team" id="team1">
        <h2>West Indies</h2>
        <table>
            <thead>
                <tr>
                    <th>Bowling</th>
                    <th>O</th>
                    <th>R</th>
                    <th>M</th>
                    <th>W</th>
                    <th>ECO</th>
                </tr>
            </thead>
            <tbody id="team1-bowling">
            </tbody>
        </table>
    </div>
    <div class="team" id="team2">
        <h2>New Zealand</h2>
        <table>
            <thead>
                <tr>
                    <th>Fall of Wickets</th>
                    <th>Overs</th>
                </tr>
            </thead>
            <tbody id="team2-wickets">
            </tbody>
        </table>
    </div>
</div>
<!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
<script src="/signalr/hubs"></script>


<script type="text/javascript">
    $(document).ready(function () {
        const connection = $.hubConnection();
        const hub = connection.createHubProxy('ScoreHub');

        hub.on('ReceiveScoreUpdate', function (scoreData) {
            console.log('Score Update:', scoreData);
            const data = JSON.parse(scoreData);
            updateScoreboard(data);
        });

        connection.start().done(function () {
            console.log('Connected to SignalR hub');
        }).fail(function (error) {
            console.error('Could not connect to SignalR hub:', error);
        });
        function updateScoreboard(data) {
            const team1Bowling = document.getElementById("team1-bowling");
            team1Bowling.innerHTML = '';
            data.team1.bowling.forEach(bowler => {
                team1Bowling.innerHTML += `
                            <tr>
                                <td>${bowler.name}</td>
                                <td>${bowler.overs}</td>
                                <td>${bowler.runs}</td>
                                <td>${bowler.maidens}</td>
                                <td>${bowler.wickets}</td>
                                <td>${bowler.economy}</td>
                            </tr>
                        `;
            });

            const team2Wickets = document.getElementById("team2-wickets");
            team2Wickets.innerHTML = '';
            data.team2.wickets.forEach(wicket => {
                team2Wickets.innerHTML += `
                            <tr>
                                <td>${wicket.batsman}</td>
                                <td>${wicket.over}</td>
                            </tr>
                        `;
            });
        }
    });
</script>

