@model string


@{
    ViewBag.Title = "Update Confirmation";
}

<h2>Update Confirmation</h2>
<p>The following detail was sent successfully:</p>
<p>@Model</p>
<div>
    <button class="btn btn-outline-success"><a href="/ScoreBoard/BallingAndFallOfWicket" style="text-decoration:none; color: green;">Update Live Match</a></button>
</div>