@model string

<span>
    @Html.EJS().DateTimePicker(Model).Width("75%").Render()
    @Html.EJS().DropDownList(Model+ "Offset").DataSource((IEnumerable<object>)ViewBag.Offset).Fields(f => f.Value("value").Text("Text")).Width("25%").Render()
</span>

<style>
    span {
        display: flex;
    }
</style>
