@model IEnumerable<Vispl.Trainee.CricInfo.VO.PlayerVO>

@{
    ViewBag.Title = "Player Details";
}

<h2>Player Details</h2>

@using Syncfusion.EJ2.Grids

<div id="GridContainer">
    @(Html.EJS().Grid<Vispl.Trainee.CricInfo.VO.PlayerVO>("Grid")
        .DataSource(Model)
        .Columns(col =>
        {
            col.Field(p => p.Picture).HeaderText("Picture").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Template("<img src=\"data:image/png;base64,${Picture}\" class=\"pic\" />").Width("150").Add();
            col.Field(p => p.JerseyNo).HeaderText("Jersey No").Width("120").Add();
            col.Field(p => p.Name).HeaderText("Name").Width("200").Add();
            col.Field(p => p.DateOfBirth).HeaderText("Date Of Birth").Width("160").Add();
            col.Field(p => p.Age).HeaderText("Age").Width("100").Add();
            col.Field(p => p.BirthPlace).HeaderText("Birth Place").Width("150").Add();
            col.Field(p => p.PlayerTypeFielder).HeaderText("Fielder").Width("250").Add();
            col.Field(p => p.PlayerTypeBowler).HeaderText("Bowler").Width("250").Add();
            col.Field(p => p.PlayerTypeBatsman).HeaderText("Batsman").Width("250").Add();
            col.Field(p => p.PlayerTypeAllRounder).HeaderText("All Rounder").Width("250").Add();
            col.Field(p => p.IsCaptain).HeaderText("Captain").Width("120").Add();
            col.Field(p => p.Nationality).HeaderText("Nationality").Width("150").Add();
            col.Field(p => p.Team).HeaderText("Team").Width("150").Add();
            col.Field(p => p.MatchesPlayed).HeaderText("Matches Played").Width("200").Add();
            col.Field(p => p.RunsScored).HeaderText("Runs Scored").Width("200").Add();
            col.Field(p => p.WicketsTaken).HeaderText("Wickets Taken").Width("200").Add();
            col.Field(p => p.BattingAverage).HeaderText("Batting Average").Width("250").Add();
            col.Field(p => p.BowlingAverage).HeaderText("Bowling Average").Width("250").Add();
            col.Field(p => p.Centuries).HeaderText("Centuries").Width("200").Add();
            col.Field(p => p.HalfCenturies).HeaderText("Half Centuries").Width("150").Add();
            col.Field(p => p.DebutDate).HeaderText("Debut Date").Width("150").Add();
            col.Field(p => p.ICCRanking).HeaderText("ICC Ranking").Width("150").Add();

        })
        .AllowPaging(true)
        .AllowSorting(true)
        .AllowFiltering(true)
        .AllowGrouping(true)
        .PageSettings(page => page.PageSize(5))
        .Render()
    )
</div>
<div>
    <button class="btn btn-outline-success"><a href="/Home/CreatePlayer" style="text-decoration:none; color: green;">Add Player</a></button>
</div>
<style>
    .pic {
        height: 55px;
        width: 55px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }
</style>